
/* Global */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  text-align: center;
  background: #c9c9c9;
}

html{
  font-size: 16px;
}

img {
  overflow: hidden;
}

/* Header Mobile*/
header {
  min-height: 64px;
  background-color: #fff;
  width: 100%;
}

header .mobile-container img {
  width: 2em;
  display: inline-block;
  margin: auto;
  align-self: center;
  padding: .8em 0 0 0;
}

header .mobile-container {
  display: flex;
  justify-content: space-around;
}

/* Header Desktop */
header .desktop-container {
  display: flex;
  justify-content: space-between;
}

header .desktop-header .left-content {
  margin: auto;
}

header .desktop-header nav {
  display: block;
  padding-right: .5em;
}

header nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

header nav a:hover {
  color: #3D3D3B;
  font-size: 1.1em;
  transition-duration: .2s;
}

header nav li {
  display: inline-block;
  padding: 1.3em 1.2em 0 0;
}

header .desktop-container .left-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1.5rem;
  padding-top: 0.8rem;
}

header .desktop-container img {
  width: 2em;
}

header .desktop-container .left-content span {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
}

header .desktop-container .left-content .highlight {
  font-weight: 400;
  color: #85857F;
}

header .desktop-container .right-content {
  padding: .2rem .7rem 0 0;
}

/* Banner Mobile*/
.mobile-banner .main-mobile-container {
  width: 100%;
  padding: 0 0 3.5rem 0;
}

.mobile-banner .main-mobile-container .banner-image img {
  width: 100%;
}

.mobile-banner .main-mobile-container .banner-content {
  width: 100%;
}

.mobile-banner .main-mobile-container .banner-content h1 {
  font-size: 2.3rem;
  font-weight: bold;
  color: #40403D;
  padding: 2rem 2rem 2rem 1rem;
  text-align: left;
  line-height: 1.5;
}

.mobile-banner .main-mobile-container .banner-content h3 {
  text-align: left;
  padding: 0 2rem 3rem 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: #40403D;
  line-height: 1.5;
}

.mobile-banner .main-mobile-container .banner-content #button {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  background-color: #919191;
  padding: .8rem 6rem;
}


/* Banner Desktop */
.desktop-banner .main-desktop-container {
  display: flex;
}

.desktop-banner .banner-image-desktop {
  width: 60%;
}

.desktop-banner .banner-image-desktop img {
  width: 100%;
  padding: 2rem 1.5rem;
  overflow: hidden;
}

.desktop-banner h1 {
  font-size: 2.3rem;
  font-weight: bold;
  color: #40403D;
  padding: 10rem 0 2rem 0;
  text-align: left;
  line-height: 1.5;
}

.desktop-banner h3 {
  text-align: left;
  padding: 0 0 2rem 0;
  font-size: 1.4rem;
  font-weight: bold;
  color: #40403E;
  line-height: 1.5;
}

.desktop-banner #button-desktop {
  text-decoration: none;
  font-weight: bold;
  color: #DEDEDE;
  font-size: 1.4rem;
  text-align: center;
  background-color: #525252;
  padding: .8rem 6rem;
}

.desktop-banner #button-desktop:hover {
  color: #fff;
  border: 1px #fff solid;
  transition-duration: .2s;
}

/* NewsLetter Mobile */
.mobile-newsletter {
  background-color: #fff;
}

.mobile-newsletter .mobile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile-newsletter .boxes {
  width: 100%;
  padding: 1rem 1rem;
}

.mobile-newsletter .boxes img {
  width: 100%;
  padding: 0 0 2rem 0;
}

.mobile-newsletter .boxes h1,
.mobile-newsletter .boxes h3,
.mobile-newsletter .boxes #news-button {
  display: block;
  text-align: left;
  padding: .5rem 0 .5rem 1rem;
}

.mobile-newsletter h1 {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 0 0 0 0;
  color: #454545;
}

.mobile-newsletter h3 {
  font-size: 1.25rem;
  padding: 0 0 0 0;
  color: #6E6E6E;
  line-height: 1.5;
}

.mobile-newsletter #news-button,
.mobile-newsletter a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #009BFF;
}

/* Newsletter Desktop */
.desktop-newsletter {
  background-color: #fff;
}

.desktop-newsletter .desktop-container {
  display: flex;
}

.desktop-newsletter .desktop-container .left-newsletter-container{
  width: 60%;
  padding: 2rem 1.5rem 0 1.5rem;
  text-align: left;
  line-height: 1.5;
}

.desktop-newsletter .desktop-container .left-newsletter-container img {
  width: 100%;
  padding: 0 0 2rem 0;
}

.desktop-newsletter .left-newsletter-container h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #454545;
}

.desktop-newsletter p {
  font-size: 1rem;
  color: #454545;
}

.desktop-newsletter .left-newsletter-container #news-brand {
  padding: 2rem 0;
  font-weight: bold;
}

.desktop-newsletter .right-newsletter-container {
  width: 40%;
  padding: 1rem 0 0 0;
  border-left: 1px #B5B5B5 solid;
}

.desktop-newsletter .news-box-image {
  width: 35%;
}

.desktop-newsletter .boxes img {
  height: auto;
  padding: 1rem;
  width: 100%;
}

.desktop-newsletter .news-box-image {
  width: 35%;
}

.desktop-newsletter .boxes h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #454545;
}

.desktop-newsletter .boxes p {
  font-size: 1rem;
  color: #454545;
}

.desktop-newsletter .boxes .news-box-information {
  width: 65%;
  margin: auto;
  padding: 0 0 0 3rem;
}

.desktop-newsletter #guest {
  background: #C2C2C2;
}

.desktop-newsletter #guest h3 {
  line-height: 1.5;
}

.desktop-newsletter h3 {
  color: #616161;
}

.desktop-newsletter #first {
  border-bottom: 1px #B5B5B5 solid;
}

.desktop-newsletter #second {
  border-top: 1px #B5B5B5 solid;
}

.desktop-newsletter .boxes {
  padding: 0 0;
}

.desktop-newsletter a:hover {
  color: #001C21;
}

.desktop-newsletter .boxes h1,
.desktop-newsletter .boxes h3,
.desktop-newsletter .boxes #news-button {
  display: block;
  text-align: left;
  padding: .5rem 0 .5rem 1rem;
}

.desktop-newsletter #news-button,
.desktop-newsletter a {
  font-size: 1rem;
  text-decoration: none;
  color: #009BFF;
}

.desktop-newsletter .boxes {
  display: flex;
}

/* Mobile Learning Gallery */
.mobile-gallery {
  background-color: #fff;
  border-top: 1px #BABABA solid;
}

.mobile-gallery h1 {
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem 0 1rem 0;
  color: #383838;
}

.mobile-gallery .gallery-container {
  display: inline-block;
  text-align: left;
  padding-bottom: 2rem;
}

.mobile-gallery .gallery-container a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #4C4C4C;
  padding: 2rem 0;
}

.mobile-gallery .gallery-container .item {
  padding: .3rem 0;
}

.mobile-gallery .gallery-container h3 {
  background-color: #D9D9D9;
  padding: 1rem 4rem 1.5rem 1rem;
}

.mobile-gallery .gallery-container a:hover {
  color: #242424;
}

/* Desktop Learning Gallery */

.desktop-gallery h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #383838;
  padding: 2rem 0;
}

.desktop-gallery .gallery-boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 4.5rem 2rem 4.5rem;
}

.desktop-gallery .gallery-boxes .g-boxes {
  background-color: #fff;
  margin: 0 1.10rem 1rem 1.10rem;
  line-height: 1.3;
  text-align: left;
}

.desktop-gallery .gallery-boxes .g-boxes img {
  height: auto;
  width: auto;
}

.desktop-gallery .gallery-boxes .g-boxes h3 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #616161;
    padding: .9rem 0 0 1rem;
}

.desktop-gallery .gallery-boxes .g-boxes p {
  color: #ADADAD;
  padding: .9rem 0 0 1rem;
}

.desktop-gallery .gallery-boxes .g-boxes #bottom-text {
  padding-bottom: 2rem;
}

.desktop-gallery .gallery-boxes .g-boxes a {
  text-decoration: none;
  color: #ADADAD;
}

.desktop-gallery .gallery-boxes .g-boxes a:hover {
  color: #616161;
  transition-duration: .2s;
}

/* Mobile Exhibit */
.mobile-exhibit {
  background-color: #fff;
  border-top: 1px #CCCCCC solid;
}

.mobile-exhibit h1 {
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem 0 1rem 0;
  color: #383838;
}

/* Desktop Exhibit */
.desktop-exhibit {
  background-color: #fff;
}

.desktop-exhibit .content-container {
  display: flex;
  justify-content: center;
}

.desktop-exhibit .left-exhibit-content {
  width: 60%;
}

.desktop-exhibit h1 {
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem 0 2rem 0;
  color: #383838;
}

.desktop-exhibit .video-container video {
  width: 100%;
  padding: 0 1.5rem;
}

.desktop-exhibit .text-content {
  text-align: left;
  padding: 1.5rem 0 0 1.5rem;
  line-height: 1.4;
}

.desktop-exhibit .text-content h3 {
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #383838;
}

.desktop-exhibit .text-content p {
  padding-bottom: 2rem;
  color: #787878;
}

.desktop-exhibit .right-exhibit-content {
  width: 40%;
  display: inline-block;
}

.desktop-exhibit .e-box-image {
  width: 35%;
}

.desktop-exhibit .exhibit-boxes img {
  height: auto;
  width: 100%;
  padding: 1rem;
}

.desktop-exhibit .exhibit-boxes {
  display: flex;
  text-align: left;
}

.desktop-exhibit .e-box-content {
  width: 65%;
  padding: 6rem 0 0 0;
  line-height: 1.5
}

.desktop-exhibit .e-box-content h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #454545;
}

.desktop-exhibit .e-box-content p {
  font-size: 1rem;
  color: #454545;
}

/* Mobile Footer */
.mobile-footer {
  background-color: #fff;
  padding: 1.5rem 0 0 0;
}

.mobile-footer p {
  color: #424242;
  padding: 1rem 0;
}

/* Desktop Footer */
.desktop-footer {
  background-color: #fff;
  border-top: 1px #C4C4C4 solid;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.desktop-footer p {
  text-align: left;
  padding-left: 1.5rem;
  color: #424242;
}

.desktop-footer .r-text {
  display: inline-block;
  justify-content: flex-end;
}

.desktop-footer .r-text a{
  text-decoration: none;
  color: #424242;
  padding: .3rem;
}

/* Responsive Tags */
@media only screen and (max-width: 1279px) {
  .desktop-header,
  .desktop-banner,
  .desktop-newsletter,
  .desktop-gallery,
  .desktop-exhibit,
  .desktop-footer {
    display: none;
  }
}

@media only screen and (min-width: 1280px) {
  .mobile-header,
  .mobile-banner,
  .mobile-newsletter,
  .mobile-gallery,
  .mobile-exhibit,
  .mobile-footer {
    display: none;
  }
}
